.bedankje{
    color: rgb(37, 36, 36);
    text-align: Center;
    font-family: sans-serif;
    font-size: 25px;
}
.collums{
    margin-left: 30%;
    width: 40%;
    padding: 10px;

    list-style-type: none;
    border: 1px solid rgb(255, 180, 40);
    background-color: #35424a;
    font-family: sans-serif;
    color: white;
    font-size: 20px;
}
.head{
    font-size: 25px;
    border-bottom: 1px solid rgb(255, 180, 40);
    font-weight: bold;
    padding: 5px;
    margin-bottom: 10px;
}
.value{
    text-align: left;
    margin-left: 30px;
    margin-bottom: -10px;
}
.var{
    text-align: left;
    border-right: solid rgb(255, 180, 40) 1px;
    padding-right: 10px;
    border-collapse: collapse;
}
table{
    border-collapse: collapse;
}