.bedankje{
    color: rgb(37, 36, 36);
    text-align: Center;
    font-family: sans-serif;
    font-size: 25px;
}
.collums{
    float: left;
    margin-left: 32%;
    margin-top: 50px;
    width: 35%;
    padding: 10px;
}
.head{
    font-size: 25px;
    border-bottom: 1px solid rgb(255, 180, 40);
    font-weight: bold;
    padding: 5px;
}
.type{
    list-style-type: none;
    border: 1px solid rgb(255, 180, 40);
    background-color: #35424a;
    font-family: sans-serif;
    color: white;
    font-size: 20px;
    padding: 5px;
}
.value{
    text-align: left;
    margin-left: 30px;
    width: 800%;
}
.var{
    text-align: left;
}