*{
    padding: 0px;
    margin: 0px;
}
.bigDiv{
    width: 100%;
    float: left;
    display: block;
    font-family: sans-serif;
    height: 500px;
}
/* spacing */
.third{
    width: 33.3%;
    padding: 20px 20px 20px 30px; /*links recht onder boven*/
    margin: 50;
    float: left;
    box-sizing: border-box;
    height: 100%;
    vertical-align: center;
}
.time{
    float: right;
}
.third h3{
    color: rgb(255, 180, 40);
    font-weight: bold;
    text-align: center;
}
.third li{
    color: #35424a;
    font-weight: bold;
    list-style-type: none;
}
.third p{
    color: #35424a;
    font-weight: bold;
    text-align: center;
}
.Gmap{
    padding: 2px;
    border: 3px solid #35424a;
    height: 50%;
    width: 100%;
}