.intro h3{
    color: rgb(37, 36, 36);
    text-align: left;
    font-family: sans-serif;
    font-size: 25px;
    font-weight: bold;
    margin-top: 20px;
    margin-bottom: 5px;
    margin-left: 200px;
    margin-Right: 200px;
}
.intro p{
    color: rgb(37, 36, 36);
    text-align: left;
    font-family: sans-serif;
    font-size: 20px;
    font-weight: bold;
    margin-top: 20px;
    margin-bottom: 100px;
    margin-left: 200px;
    margin-Right: 200px;
}
.imgDiv{
    margin-left: 0.5%;
}
.afbeelding{
    width: 33%;
    height: 10%;
}