.intro{
    color: rgb(37, 36, 36);
    text-align: Center;
    font-family: sans-serif;
    font-size: 25px;
}
.searchTable{
    color: rgb(37, 36, 36);
    text-align: Center;
    font-family: sans-serif;
    font-size: 25px;
    height: 30px;

    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    border-collapse: collapse;  
}
.input{
    border: 2px solid rgb(255, 180, 40);
    border-radius: 7px;
    font-size: 20px;
    width: 50%;

    margin-bottom: 5px;
}
.afsprakenRow{
    padding: 5px;
}
.afsprakenBody{
    text-align: left;
}
.inputTD{
    border-bottom: 2px solid rgb(255, 180, 40);
}
.afspraakTD{
    padding-top: 5px;
}
td{
    width: 20%;
    padding-left: 10px;
}
.zoekBtn{
    height: 30px;
    width: 15%;
    text-align: center;
    border-radius: 8px;

    font-family: sans-serif;
    font-weight: bold;
    font-size: 20px;
    background-color: rgb(255, 180, 40);
    color: #35424a;
    border: none;
    box-shadow: 0 3px rgb(192, 135, 28);
    margin-bottom: 5px;
}
.inlogP{
    margin-top: 100px;
    color: rgb(37, 36, 36);
    font-family: sans-serif;
    font-size: 25px;   
    text-align: center;
}
.innerDiv, .passwordDiv{
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}
.passwordInput{
    text-align: center;
    font-family: sans-serif;
    font-size: 23px;
    border: 2px solid gold;
    margin-left: auto;
    margin-right: auto;
    border-radius: 7px;
    
    width: 250px;
    height: 25px;
}
.inputBtn{
    height: 30px;
    width: 15%;
    text-align: center;
    border-radius: 8px;
    margin-left: 42.5%;
    margin-right: 42.5%;
    margin-top: 50px;

    font-family: sans-serif;
    font-weight: bold;
    font-size: 20px;
    background-color: rgb(255, 180, 40);
    color: #35424a;
    border: none;
    box-shadow: 0 3px rgb(192, 135, 28);
}